[submodule "src/libraries/WXMLParser"]
	path = src/libraries/WXMLParser
	url = https://github.com/wono/WXMLParser
[submodule "lib/WXMLParser"]
	path = lib/WXMLParser
	url = https://github.com/wono/WXMLParser
